.ContactButtonStyle {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    position: relative;
    border-radius: 3px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 2px solid transparent;
    &:hover {
        background-color: white;
        border: 2px solid black;
        a {
            color: black;
        }
    }
    a {
        color: #ffffff;
        i {
            margin-right: 5px;
        }
    }
}