.socialContactsClass {
    ul {
        display: flex;
        li {
            padding: 12px;
            i {
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                font-size: 1.2em;
                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}