@mixin flexbox($jf, $ai, $direction) {
    display: flex;
    justify-content: $jf;
    align-items: $ai;
    flex-direction: $direction;
}

@mixin settingSectionStyle($maxWidth, $direction, $marginTop, $pt, $pr, $pb, $pl) {
    margin-top: $marginTop;
    max-width: $maxWidth;
    @if $maxWidth == 1000px {
        @include flexbox(center, center, $direction); 
    } @else {
        @include flexbox('', '', $direction);
    }
    padding: $pt $pr $pb $pl;
    margin-left: auto;
    margin-right: auto;
};

@mixin menuLinksEffectHover($y) {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% + 10px);
    background-color: inherit;
    transform: translateY($y);
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
};

@mixin buttonResumeStyle($device) {
    line-height: normal;
    border-radius: 5px;
    
    @if $device == 'laptop' {
        border: 1px solid black;
        padding: 10px;
    } @else {
        padding: 15px;
        margin-top: 5rem;
        border: 1px solid white;
        position: relative;
        @include flexbox(center, flex-start, '');
        &::before {
            content: '';
            position: absolute;
            top: -4rem;
            height: 1px;
            width: 40%;
            background-color: white;
        }
    }
};

@mixin socialIconsStyle($colorIcon) {
    ul {
        display: flex;
        margin-bottom: 3rem;
        li {
            padding: 12px;
            i {
                color: $colorIcon;
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                font-size: 1.1em;
                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}

@mixin buttonContactStyle($sectionName) {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    background-color:black;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    position: relative;
    border-radius: 3px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    a {
        color: white;
        i {
            margin-right: 5px;
        }
    }
    &:hover {
        background-color: white;
        @if $sectionName == 'about' {
            border: 1px solid black;
        } @else {
            border: 1px solid white;
        }
        a {
            color: black;
        }
    }
}

@mixin triangles($side) {
    content: '';
    position: absolute;
    background-color: white;
    border: 2px solid transparent;
    backface-visibility: hidden;
    width: 50%;
    height: 220px;
    /* height: 150px; */
    top: -110px;
    @if $side == 'left' {
        left: -1px;
        transform: skewY(17deg);
    } @else {
        right: -5px;
        transform: skewY(-17deg);
    }
}